<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title>Meet</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img
          src="../../../assets/me.jpg"
          alt="User Image"
        />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6">
      <ion-button color="tertiary" expand="block"> New meeting </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="tertiary" fill="outline" expand="block">
        Join with a code
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
